@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
/* WENN ES IRGENWO NEN ERROR GIBT KOPIER DEN .BUTTON VON HOMESTYLE HIER REIN */

@font-face {
    font-family: 'Rhiledia';
    src:  url('./fonts/Rhiledia.ttf') format('truetype');
    font-family: 'yuruy';
    src:  url('./fonts/yuruy.otf') format('otf');
    font-family: 'Ayrton Pight';
    src:  url('./fonts/Ayrton Pight.ttf') format('truetype');
  }

:root{
    --purple:#2e2b1e;
    --pink:#191d1b;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background:var(--pink);
    color:rgb(255, 255, 255);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    justify-content: center;
    align-items: center;
}


.bg {
    /*background: url(../images/background.png);*/
    background: linear-gradient(90deg, rgb(60, 187, 238) 20%, rgb(240, 44, 223) 80%);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.star-field{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer{
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}

section{
    margin-top: 30px;
    min-height: 100vh;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

.heading span{

    color:rgb(238, 188, 50);
    text-transform: uppercase;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background: linear-gradient(90deg, rgb(240, 44, 223) 20%, rgb(60, 143, 238) 80%);
    background-attachment: fixed;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img{
    width: 60px;
    height: 30px;
}

header .logo{
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

header .logo span{
    color:rgb(224, 51, 172);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color:rgb(224, 51, 181);
    text-shadow: 2px 3px 6px rgb(45, 45, 46);
}


header .navbar a:hover{
    color:rgb(66, 181, 235);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display:block;
    padding-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.errorContainer{

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 60%;
    max-height: 300px;
    overflow: hidden;
    /* border: 1px solid white;
    background-color: rgba(50, 103, 216, 0.856); */
}

.errorContainer .errorMessage{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 60%;
    margin-top:10px;
    border: 1px solid white;
}

.errorMessage .errorTitle{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 60%;
    margin-top:10px;
    font-size: 22px;
    color: #fff;
}

.errorMessage .errorContent{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 60%;
    margin-top:10px;
    font-size: 20px;
    color: #fff;
}


.footer{
    display: block;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    text-align: center;
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    text-align: justify;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 1.5rem;
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}

.quickLink{

    width: 200px;
}

.devNote{

    text-align: center;
    color: white;
    font-size: 14px;
}


@media (max-width:1080px){
    
    html{
        font-size: 55%;
    }
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

}

@media (max-width:720px){
    
    h1{

        font-size: 55%;
    }
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

}

@media (max-width:768px){

    header label{
	color: #fff;
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background: linear-gradient(155deg, rgb(20, 19, 17) 10%, rgb(44, 44, 42) 90%);
	    background-attachment: fixed;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }


    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width:auto;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .about .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

}