@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

@font-face {
    font-family: 'Rhiledia';
    src:  url('./fonts/Rhiledia.ttf') format('truetype');
    font-family: 'yuruy';
    src:  url('./fonts/yuruy.otf') format('otf');
    font-family: 'Ayrton Pight';
    src:  url('./fonts/Ayrton Pight.ttf') format('truetype');
  }

::placeholder{
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgb(39, 50, 53, 0.5);
    opacity: 1; /* Firefox */
}

:root{
    --purple:#2d1e2e;
    --pink:#191d1b;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background:var(--pink);
    color:rgb(255, 255, 255);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    justify-content: center;
    align-items: center;
}


.bg {
    /*background: url(../images/background.png);*/
    background: linear-gradient(90deg, rgb(60, 187, 238) 20%, rgb(240, 44, 223) 80%);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.star-field{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer{
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}

section{
    margin-top: 30px;
    min-height: 100vh;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

.heading span{

    color:rgb(248, 68, 233);
    text-transform: uppercase;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background: linear-gradient(90deg, rgb(240, 44, 223) 20%, rgb(60, 143, 238) 80%);
    background-attachment: fixed;
    box-shadow: 0px 0px 5px #474545;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    z-index: 1000;
}

header img{
    width: 60px;
    height: 30px;
}

header .logo{
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

header .logo span{
    color:rgb(224, 51, 172);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color:rgb(224, 51, 181);
    text-shadow: 2px 3px 6px rgb(45, 45, 46);
}


header .navbar a:hover{
    color:rgb(66, 181, 235);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    text-align: center;
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    text-align: justify;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 1.5rem;
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}

.quickLink{

    width: 200px;
}

.devNote{

    text-align: center;
    color: white;
    font-size: 14px;
}


@media (max-width:1080px){
    
    html{
        font-size: 55%;
    }
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

}

@media (max-width:720px){
    
    h1{

        font-size: 55%;
    }
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

}

@media (max-width:768px){

    header label{
	color: #fff;
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background: linear-gradient(155deg, rgb(20, 19, 17) 10%, rgb(44, 44, 42) 90%);
	    background-attachment: fixed;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }


    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width:auto;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .about .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #8fd3eeb6; 
}

::-webkit-scrollbar-thumb {
    background: rgba(208, 97, 223, 0.747);
    border: 1px solid white; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(70, 166, 221, 0.884); 
}
.home{
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.profileData{

    display: block;
    box-shadow: 2px 3px 6px #191d1b;
    border-radius: 3px;
    width: 29%;
    margin-right: 1%;
    height: 90vh;
}

.profileData .top{

    display: flex;
    height: 60%;
    width: 100%;
    
}

.profileData .top .profilePicture{
    display: block;
    width: 100%;
    height: 100%;
    
}
.profileData .top .profilePicture .galery{
    display: flex;
}

.galery .prevPic{
    position: relative;
    top: -70px;
    left: 0px;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    background-color: #555;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
}

.galery .nextPic{
    position: relative;
    top: -70px;
    left: 0px;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    background-color: #555;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
}

.profileData .top .profilePicture img{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 88%;
    border-radius: 5px;
    
}

.profileData .top .profilePicture button{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: #fff;
    text-shadow: 0px 0px 4px #fff;
    background-color: #2a2d30;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 3px 6px #191a1dc9;
}

.profileData .top .profilePicture button:hover{
    background-color: #e928df;
}

.profileData .top .data{
    width: 60%;
    display: block;
}

.top .data .row{

    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 10%;
}

.row .name{
    padding-left: 1%;
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.row .value{
    padding-left: 5%;
    color: #fff;
    font-size: 22px;
    width: 100%;
    height: 100%;
    font-weight: bold;
}


.followButton{

    margin-top: 2.5%; 
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    text-shadow: 0px 0px 4px #fff;
    background-color: #32abe2;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 3px 6px #191a1dc9;
}

.followButton:hover{

    background-color: #d23ee6;
}


.profileData .bottom{
    display: block;
    height: 40%;
    width: 100%;
    border-top: 1px solid white;
}

.profileData .bottom .profileText{
    text-align: justify;
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 20px;
    color: #fff;
    overflow: auto;
}

.contentArea{

    display:block;
    width: 70%;
    height: 90vh;
}

.contentArea .top{

    display: flex;
    height: 24%;
    margin-bottom: 1%;
    width: 100%;
    box-shadow: 2px 3px 6px #191d1b;
    border-radius: 3px;
    
}

.contentArea .top .catchPhrase{

    display: block;
    width: 70%;
    height: 100%;
    
}

.contentArea .top .catchPhrase .titleText{

    padding-left: 1%;
    color: #fff;
    font-size: 24px;
    text-align: left;
}

.contentArea .top .catchPhrase .contentText{
    padding-left: 5%;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

.contentArea .top .dropDownMenu{
    margin-left: 2.5%;
    margin-right:2.5%;
    width: 25%;
    height: auto;
}



.contentArea .bottom{
    display: block;
    height: 75%;
    width: 100%;
    box-shadow: 2px 3px 6px #191d1b;
    border-radius: 3px;
    
}

.contentArea .bottom .searchArea{

    width: 100%;
    height: 15%;
    
}

.searchContainer{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.searchContainer form{
    display: flex;
    width: 100%;
    
}

.searchContainer form input{
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    width: 70%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid white;
    background-color: rgba(44, 46, 58, 0.774);
    color: #fff;
    font-size: 18px;
}

.searchContainer form button{
    margin-top: 2.5%; 
    width: 20%;
    height: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #fff;
    text-shadow: 0px 0px 4px #fff;
    background-color: #2a2d30;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 3px 6px #191a1dc9;
}

.searchContainer form button:hover{

    background-color: #2a2d30;

}

.contentArea .bottom .videoArea{

    width: 98%;
    height: 82.5%;
    overflow: auto;
    margin-left: 1%;
}


.videoArea .container{
    list-style:none;
}


.videoArea .container .item{
    margin: 1%;
    
}

.inline-b{
    
    text-align: center;
    
}
.inline-b-item{
    display: inline-block;
    width: 32%;
}

.item .itemButton{
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #191d1b;
}

.videoArea .videoContainer{

    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.videoArea .videoContainer img{

}

.videoArea table{
    
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    max-width: 396px;
}

.videoArea .titleText{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 280px;
    color: #fff;
    
}

.videoArea .durationText{
    
    padding-right: 3px;
    text-align: right;
    color: #fff;
    font-size: 12px;
    width: 45%;
    max-width: 180px;
    
    
}

.videoArea .priceText{
    padding-left: 3px;
    text-align: left;
    color: #fff;
    font-size: 18px;
    width: 20%;
    max-width: 120px;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
}

.videoArea .ratingText{
    padding-left: 3px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    width: 15%;
    max-width: 120px;
    
}

.videoArea .videoContainer .vote{
    justify-content: center;
    display:flex;
    border: 2px solid white;
}
.voteButton{
    width: 22px;
    height: 18px;
    background-color: transparent;
}
.voteButton img{
    justify-content: center;
    display:flex;
    width: 22px;
    height: 18px;
}

.dropDownMenu li{
    list-style:none !important;
    color:#FFF;
    font-size:20px;
    text-decoration:none;
}

.dropDownMenu li{
    list-style:none !important;
    font-size:20px;
    text-align: center;
    width: 100%;
}

.dropDownMenu .main_ul{
    background-color:#191d1bb0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 250px;
}

.dropDownMenu label{
    margin-left: 10%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.603);
}

.dropDownMenu button{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 0px 4px #fff;
    background-color: transparent;
    overflow-wrap: break-word;

}

.dropDownMenu .main_ul .main_li{
    list-style: none; 
    height: 30px;
    float:left;
    background-color:transparent;
    border-radius: 5px;
    border:2px solid black;
    width: 100%;

}

 
.dropDownMenu .main_ul .main_li ul{ 
    display:none;
    overflow-y: scroll;
    overflow-x:hidden;
    height: 15%;
    
}

.dropDownMenu ul li:hover ul{
    z-index:99999;
    display:list-item !important;
    position:absolute;
    width: 238px;
    border: 2px solid black;
    background-color: #191d1b63;
}

.dropDownMenu ul li:hover ul li{
    float:none;
    width: 100%;
}
.dropDownMenu ul li:hover ul li:hover{
    background-color: rgb(59, 187, 238);
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }

  .dingens {
    
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .dingens-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  .profilePicture {
    display: flex;
  }

  .vorheriges,
  .nächstes {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "nächstes button" to the right */
  .nächstes {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .vorheriges:hover,
  .nächstes:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .row > .reihe {
    padding: 0 8px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.reihe {
    float: left;
    width: 25%;
}

.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


video{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    width: 95%;
    height: 75%;
    border-radius: 2px;
}
   
video::-webkit-media-controls{
    display:none !important;
}